#instructions {
	border: 2px solid #a1a1a1;
    border-radius: 25px;
    background-color: #002550;
    font-family: "Times New Roman", Times, serif;
    color: #FF99FF;
    padding: 10px;
    text-align: justify;

}

header {
	font-family: "Times New Roman", Georgia, Serif;
	text-align: center;
	font-size: 20px;
	color: #6600CC;

}

#begin {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
}

section {
    width: 80%;
    margin: auto;
    padding: 10px;
  
}

div#one {
    float: left;
   
}
div#two {
	padding-left: 40px;
	height: 208px;
	width: 100px;
	overflow: auto;
    
}

div#tileinput {
	padding-top: 10px;
}

input {
	width: 25px;
}

p#pstatus {
	width: 80%;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	color: #5C0099;
}